{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-block-3aa6-1" custom-posts-hash="[]" data-style="blank"
         data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-78e7"
         data-source="Blank" data-id="3aa6" style="">
    <div class="u-clearfix u-sheet u-block-3aa6-2" style="min-height: 500px" data-block-type="Sheet"><h2
            class="u-text u-block-control u-block-3aa6-3" data-block="60"
            style="width: 181.391px; margin-top: 33.8438px; margin-left: auto; margin-right: auto; margin-bottom: 0px"
            data-block-type="Text">Контакты<span style="font-size: 3rem;">​</span></h2>
        <h3 class="u-text u-block-control u-block-3aa6-8" data-block="67"
            style="margin: 41.0626px auto 0px; width: 243.062px;" data-block-type="Text">Вам не ответят :)</h3><a
                href="https://nicepage.me"
                class="u-active-none u-btn u-button-style u-hover-none u-none u-text-hover-palette-1-base u-block-control u-block-3aa6-4"
                style="border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin-top: -34.0001px; margin-right: auto; margin-bottom: 0px; margin-left: 34px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px"
                data-block="62" data-block-type="Button">​<span
                class="u-icon u-text-palette-1-base u-block-control u-block-3aa6-5" style="" data-block="63"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;" data-color="#000000"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp;+1
            (234) 567-8910</a><a href="mailto:info@site.com"
                                 class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-block-control u-block-3aa6-6"
                                 style="background-image: none; border-style: none; margin-top: 30px; margin-right: 979px; margin-bottom: 60px; margin-left: 34px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px"
                                 data-block="64" data-block-type="Button">​<span
                class="u-icon u-block-control u-block-3aa6-7" style="color: rgb(70, 138, 201) !important"
                data-block="65"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 16" x="0px" y="0px" style="width: 1em; height: 1em;" data-color="#468ac9"><path fill="currentColor" d="M23.8,1.1l-7.3,6.8l7.3,6.8c0.1-0.2,0.2-0.6,0.2-0.9V2C24,1.7,23.9,1.4,23.8,1.1z M21.8,0H2.2
	c-0.4,0-0.7,0.1-1,0.2L10.6,9c0.8,0.8,2.2,0.8,3,0l9.2-8.7C22.6,0.1,22.2,0,21.8,0z M0.2,1.1C0.1,1.4,0,1.7,0,2V14
	c0,0.3,0.1,0.6,0.2,0.9l7.3-6.8L0.2,1.1z M15.5,9l-1.1,1c-1.3,1.2-3.6,1.2-4.9,0l-1-1l-7.3,6.8c0.2,0.1,0.6,0.2,1,0.2H22
	c0.4,0,0.6-0.1,1-0.2L15.5,9z"></path></svg><img></span>&nbsp;info@site.com</a></div>
    <style data-mode="XL">@media (max-width: 0px) { .u-block-3aa6-2 {min-height: 500px}
.u-block-3aa6-3 {width: 181.391px; margin-top: 33.8438px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-3aa6-8 {width: 243.062px; margin-top: 41.0626px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-3aa6-4 {border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin-top: -34.0001px; margin-right: auto; margin-bottom: 0px; margin-left: 34px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-6 {background-image: none; border-style: none; margin-top: 30px; margin-right: 979px; margin-bottom: 60px; margin-left: 34px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-7 {color: rgb(70, 138, 201) !important} }
    </style>
    <style data-mode="LG">@media (max-width: 0px) { .u-block-3aa6-2 {min-height: 500px}
.u-block-3aa6-3 {width: 181px; margin-top: 33.8438px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-3aa6-8 {margin-top: 41.0626px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 243px}
.u-block-3aa6-4 {border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin-top: -34px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-6 {background-image: none; border-style: none; margin-top: 30px; margin-right: 813px; margin-bottom: 60px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-7 {color: rgb(70, 138, 201) !important} }
    </style>
    <style data-mode="MD">@media (max-width: 0px) { .u-block-3aa6-2 {min-height: 500px}
.u-block-3aa6-3 {width: 181px; margin-top: 33.8438px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-3aa6-8 {margin-top: 41.0626px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 243px}
.u-block-3aa6-4 {border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin-top: -34px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-6 {background-image: none; border-style: none; margin-top: 30px; margin-right: 593px; margin-bottom: 60px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-7 {color: rgb(70, 138, 201) !important} }
    </style>
    <style data-mode="SM">@media (max-width: 0px) { .u-block-3aa6-2 {min-height: 500px}
.u-block-3aa6-3 {width: 181px; margin-top: 33.8438px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-3aa6-8 {margin-top: 41.0626px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 243px}
.u-block-3aa6-4 {border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin-top: -34px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-6 {background-image: none; border-style: none; margin-top: 30px; margin-right: 413px; margin-bottom: 60px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-7 {color: rgb(70, 138, 201) !important} }
    </style>
    <style data-mode="XS">@media (max-width: 0px) { .u-block-3aa6-2 {min-height: 500px}
.u-block-3aa6-3 {width: 181px; margin-top: 33.8438px; margin-left: auto; margin-right: auto; margin-bottom: 0px}
.u-block-3aa6-8 {margin-top: 41.0626px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 243px}
.u-block-3aa6-4 {border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin-top: -34px; margin-right: auto; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-6 {background-image: none; border-style: none; margin-top: 30px; margin-right: 213px; margin-bottom: 60px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-3aa6-7 {color: rgb(70, 138, 201) !important} }
    </style>
</section>
{% endblock %}